{% extends 'base.html' %}
{% block content %}
{% if session['logged_in'] %}
You're logged in already!
{% else %}

<div class="container" style="margin-top: 12rem">
    <div class="row justify-content-md-center">
        <div class="col col-md-5">
            <!-- login form -->
            <form action="{{ url_for('auth_app.registration') }}" method="POST"
                  class="text-center mdb-color lighten-2 border border-light p-5">
                <p class="h4 mb-4">Sign in</p>
                <!-- Login -->
                <div class="input-group flex-nowrap mb-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="addon-wrapping">@</span>
                    </div>
                    <input type="text" aria-label="Username" name="username" placeholder="Username"
                           id="RegisterFormUsername" class="form-control" aria-describedby="addon-wrapping">
                </div>
                <div class="input-group flex-nowrap mb-4">
                    <!-- First Name -->
                    <input type="text" aria-label="FirstName" name="first_name" placeholder="First name"
                           id="RegisterFormFirstName" class="form-control" aria-describedby="addon-wrapping">
                    <!-- Middle Name -->
                    <input type="text" aria-label="MiddleName" name="middle_name" placeholder="Middle name"
                           id="RegisterFormMiddleName" class="form-control" aria-describedby="addon-wrapping">
                    <!-- Last Name -->
                    <input type="text" aria-label="LastName" name="last_name" placeholder="Last name"
                           id="RegisterFormLastName" class="form-control" aria-describedby="addon-wrapping">
                </div>
                <!-- Password -->
                <input type="password" name="password" id="RegisterFormPassword"
                       class="form-control mb-4" placeholder="Password">
                <!-- Sign in button -->
                <input class="btn btn-info btn-block my-4" type="submit" value="Зарегистрироваться">
                </input>
            </form>
        </div>
    </div>
</div>
<!-- login form -->
{% endif %}
{% endblock %};

